

body,html {
	height: 100%;
  background: url(../images/login-background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
}
.intro {
  width: 100%;
  height: 100%;
  padding-top: 20px;
}
.div-transparent {
  margin-bottom: 0 !important;
  background: transparent !important;
  border: none !important;
  border-radius: 0 !important;
  border-bottom: 1px solid #aaa !important;
}
.navbar-custom {
  background: #5CB5D8;
  background-image: linear-gradient(90deg, #5DB4AE 0%, #5CB5D8 100%);
  border: none;
  border-radius: 0 !important;
}
.font-white {
 color: white !important;
}
.form-card {
 margin: 0 auto;
 background: white;
 border-radius: 4px;
 padding: 10px 30px 60px 30px !important;
 box-shadow: 0 2px 4px rgba(0,0,0,0.5);
}
.form-card-sm {
 max-width: 360px;
}
.form-card-lg {
  max-width: 640px;
}
.form-title {
 margin-bottom: 20px;
}
.login-btn-group {
 margin-top: 50px;
}
.qr-code {
  width: 300px;
  height: 300px;
  padding: 20px;
}
@media (max-width: 320px) {
  .container {
    margin: 0 !important;
    padding: 0 5px !important;
  }
  .form-card {
    margin: 5px 0!important;
    padding: 10px 15px 30px 15px !important;
  }
}
@media (max-width: 768px) {
  h1,h2,h3 {
    margin-top: 10px !important;
    margin-bottom: 5px !important;
  }
  .intro {
    padding-top: 10px;
  }
  .form-card {
    margin: 0;
    margin-top: 20px;
    max-width: 100%;
    border-radius: 0;
    text-align: left;
  }
  .control-label {
    display: none !important;
  }
  .login-btn-group {
    margin-top: 10px;
  }
  .form-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 0px;
  }
  .form-group {
    margin-bottom: 10px !important;
  }
  .option-inline {
    margin-top: 10px;
  }
}
.btn-app {
  width: 130px;
}
.input-icon {
  background: white !important;
}
.version {
  margin-top: 10px;
  color: #eee;
}
